*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(#948e99,#2e1437);
    color:whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 2.8px;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
}

.btn{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.651);
    outline: none;
    text-shadow: 0px 3px 4px rgba(0,0,0,1);
    text-transform: uppercase;
    border: none;
    width: 150px;
    padding: .6rem;
    font-size: small;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 1rem;
    border: 1px solid rgba(245, 245, 245, 0.271);
}

span{
    color: rgba(245, 245, 245,.5);
    font-variant: small-caps;
}

.btn:hover{
    opacity: .5;
    transform: scale(.97);
    transition: all .2s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn, .4s;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(#948e99,#2e1437);
    width: 100%;
    animation: slideIn 0.6s;
}

.close {
    color: white;
    float: right;
    font-size: 38px;
}

.close:hover,
.close:focus {
    opacity: .3;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-body {
    padding: 10px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body ul{
    list-style-position: inside;
    list-style-type: lower-greek;
    text-align: justify;
}

.modal-body ul li{
    line-height: 2.2;
}

#end{
    width: 50%;
    background-image: linear-gradient(#948e99,#2e1437);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0.4rem 1.4rem 0 #000000;
}

.message{
    font-size: 20px;
    padding-bottom: .6rem;
}

.final_result{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 3px solid rgb(238, 236, 237) ;
    box-shadow: 0 0.4rem 1.4rem 0 #000000;
    padding-top: 33px;
    font-weight:bold;
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@media(min-width:320px) and (max-width:500px){
    .modal-content{
        height: 50vh;
        font-size: 10px;
    }
    .modal-content h1{
        display: none;
    }
}
