html,
body {
    margin: 0;
    height: 100%;
}

body {
    font: 13px Arial, sans-serif;
    line-height: 1.2rem;
}

.word-input,
b {
    display: inline-block;
    border: none;
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
    padding: 0 2px;
    font-weight: 900;
    color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ol {
    margin-right: 10px;
}

li {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 10px #0002;
}

.text-muted {
    color: #888;
}

.header {
    background-color: #eee;
    padding: 16px;
}

.tip,
.del,
.fav {
    border-radius: 2rem;
    padding: 3px 3px 3px 6px;
    margin-right: 5px;
    cursor: pointer;
}

.tip:hover,
.del:hover,
.fav:hover,
.tip:active,
.del:active,
.fav:active {
    background-color: #eee;
}
