html, body {
    margin: 0;
    height: 100%;
}

body {
    font: 13px Arial, sans-serif;
    line-height: 1.2rem;
}

.word-input {
    display: inline-block;
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
}

li {
    padding: 5px;
}

.text-muted {
    color: #888;
}

.header {
    background-color: #eee;
    padding: 16px;
}