.test {
    color: aqua;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

/* Header */

.header {
    height: 840px;
    /* background-color: #ecf2ff; */
    background-image: url("./assets/images/header-bg.png");
}

.header__pictures {
    width: inherit;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__picture-left {
    position: relative;
    bottom: -20px;
}

.header__picture-left::after {
    content: url("./assets/images/header-pic1.png");
}

.header__picture-right {
    position: relative;
    bottom: -69px;
    /* right: 12px; */
}

.header__picture-right::after {
    content: url("./assets/images/header-pic2.png");
}

.header-margin-indent {
    margin-bottom: 140px;
}

/* Navigation */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__margin-indent {
    margin-top: 20px;
    margin-bottom: 200px;
}

.nav__logo {
    cursor: default;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 47px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #00214D;
}

.nav__menu {
    width: 480px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__text {
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #1B2D45;
}

.nav__text-decoration {
    text-decoration: underline;
}

.nav__button {
    width: 117px;
    height: 48px;
    background: #00EBC7;
    border: none;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #00214D;
}

/* Topic */

.topic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.topic__title {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 47px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #00214D;
}

.topic__title-indent {
    margin-bottom: 32px;
}

.topic__text {
    width: 749px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #5F6C7D;
}

.topic__text-indent {
    margin-bottom: 40px;
}

.topic__button {
    width: 233px;
    height: 67px;
    background: #00EBC7;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #00214D;
}

/* Main */

.main {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__content {
    width: 840px;
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__content-indent {
    margin-bottom: 200px;
}

.description {
    width: 440px;
    height: 360px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.description__title {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 59px;
    letter-spacing: 1.3px;
    color: #00214D;
}

.description__title-indent {
    margin-bottom: 32px;
}

.description__text {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #5F6C7D;
}

.badge {
    width: 159px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4fdf9;
}

.badge__text {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.625px;
    color: #02D8B7;
}

.badge__margin-indent {
    margin-bottom: 10px;
}

.picture {
    width: 360px;
    height: 360px;
    background-color: red;
}
